<h1 class="mat-headline-3">Portal de acesso</h1>
<div class="card-container">
  <mat-card class="card">
    <img mat-card-image src="../assets/slump.png" alt="Cliente conferindo relatório." class="card__imagem">
    <mat-card-header class="card__header">
      <mat-card-title>Registros de concreto</mat-card-title>
      <mat-card-subtitle>Gerencie os seus registros de concreto.</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="card">
    <img mat-card-image src="../assets/painel_cliente.jpeg" alt="Cliente conferindo relatório." class="card__imagem">
    <mat-card-header class="card__header">
      <mat-card-title>Resultados de ensaios</mat-card-title>
      <mat-card-subtitle>Gerencie os resultados dos seus ensaios.</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="card">
    <img mat-card-image src="../assets/pessoas.png" alt="Cliente conferindo relatório." class="card__imagem">
    <mat-card-header class="card__header">
      <mat-card-title>Pessoas e empresas</mat-card-title>
      <mat-card-subtitle>Gerencie colaboradores, clientes e obras.</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="card">
    <img mat-card-image src="../assets/financeiro.png" alt="Cliente conferindo relatório." class="card__imagem">
    <mat-card-header class="card__header">
      <mat-card-title>Finanças</mat-card-title>
      <mat-card-subtitle>Gerencie orçamentos e medições.</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
