<mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="container_logo">
      <img src="../assets/Frame 31.png" width="225" height="46.96">
    </div>
    <button *ngIf="isTemaEscuro" (click)="alternarTema()" mat-icon-button aria-label="Example icon-button with heart icon" 
    matTooltip="Alterar para tema claro.">
      <mat-icon>light_mode</mat-icon>
    </button>
    <button *ngIf="!isTemaEscuro" (click)="alternarTema()" mat-icon-button aria-label="Example icon-button with heart icon" 
    matTooltip="Alterar para tema escuro.">
      <mat-icon>dark_mode</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>notifications</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
