.container-viewport {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.toolbar {
    height: 90px;
    display: flex;
}

.toolbar__secao1, .toolbar__secao3 {
    width: 20%;
}

.toolbar__secao2 {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.toolbar__secao3 {
    display: flex;
    justify-content: flex-end;
}

.container-sidenav-e-content {
    flex-grow: 1;
}

.container-sidenav {
    width: 280px;
}

.container-link-sidenav {
    display: flex;
    align-items: center;
    gap: 4px;
}

.container-content {
    padding: 64px 96px 96px 96px;
}