<div [ngClass]="{'tema-escuro': isTemaEscuro}" class="container-viewport">
  <app-toolbar [alternarTema]="alternarTema" [isTemaEscuro]="isTemaEscuro" [sidenav]="sidenav"></app-toolbar>
  <mat-sidenav-container class="container-sidenav-e-content">
    <mat-sidenav mode="over" #sidenav class="container-sidenav">
      <mat-nav-list *ngFor="let itemSidenav of itensSidenav">
        <a mat-list-item href="#" [activated]="false">
          <div class="container-link-sidenav">
            <mat-icon color="primary">{{itemSidenav.nomeIcone}}</mat-icon>{{itemSidenav.nomeLink}}
          </div>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="container-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <app-footer></app-footer>
  
</div>
