.container-viewport {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-sidenav-e-content {
    flex-grow: 1;
}

.container-sidenav {
    width: 280px;
}

.container-link-sidenav {
    display: flex;
    align-items: center;
    gap: 4px;
}

.container-content {
    padding: 48px 96px 96px 96px;
}